.env
artisan
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/vuexy-shell-scripts
.env.example
.htaccess
/public/images/banners/
/public/images/logos/
/public/images/galleries/
/public/images/meals/
/public/images/menus/
/public/images/sides/
/public/images/drinks/
/public/.htaccess
!.gitignore