.env
artisan
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/vuexy-shell-scripts
.env.example
/public/images/galleries
/public/images/logos
/public/images/banners