/*=========================================================================================
    File Name: laravel-menu.scss
    Description: laravel Specific menu styles
    ----------------------------------------------------------------------------------------
    Item name: Vuexy  - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: PIXINVENT
    Author URL: http://www.themeforest.net/user/pixinvent
==========================================================================================*/

/*========================================================
        DARK LAYOUT
=========================================================*/

body.vertical-layout.vertical-menu-modern .horizontal-menu-wrapper {
  display: none;
}

footer.footer a:hover {
  color: #2f8551;
}

.horizontal-menu > .main-menu {
  display: none;
}

.horizontal-menu .fixed-top {
  left: 0;
}

html body.navbar-static .app-content .header-navbar {
  background: transparent;
  box-shadow: none !important;
}

@font-face {
  font-family: Youthome;
  src: local("Youthome"),
       local("Youthome"),
       url(../fonts/Youthome.ttf);
  font-weight: regular;
}

@font-face {
  font-family: BarlowCondensed;
  src: local("BarlowCondensed"),
       local("BarlowCondensed"),
       url(../fonts/BarlowCondensed-Light.ttf);
  font-weight: regular;
}

.with-logo {
  margin-top: -7px;
  font-family: 'Youthome', Fallback, sans-serif !important;
  font-size: 1em;
  line-height: 1em;
}

.with-logo span {
  font-family: 'BarlowCondensed', sans-serif;
  letter-spacing: 0em;
  font-size: 1.1em;
  line-height: 1.1em;
  color: #c7c7c7;
}

@media (max-width: 575.98px) {
  body.vertical-layout:not(.horizontal-layout).navbar-floating .header-navbar {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
  }
}

.border-top-order {
  border-top-color: rgb(218, 225, 231);
  border-top-style: solid;
  border-top-width: 1px;
}

.border-right-order {
  border-right-color: rgb(218, 225, 231);
  border-right-style: solid;
  border-right-width: 1px;
}

.bg-with-warning {
  background-color: #7EC99C !important;
}

.order-decline {
 color: #626262 !important;
}

.order-decline:hover {
  color: #ea5455 !important;
}

.badge-warning2 {
  background-color: #C5C010;
}

@media (max-width: 768.98px) {
  .noborder-sm {
    border: 0 !important;
  }
}

.updates-info {
  padding: 10px 10px 10px 10px;
  border-top: 3px solid #47b272;
  margin-bottom: 50px;
}

.updates-info ul {
  padding: 0px 0px 0px 20px;
  margin: 0px;
}

.updates-info ul li {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #999999;
  margin-bottom: 4px;
}


.updates-info p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #999999;
}

.updates-info h4 {
  color: #999999;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  margin: 0px 0px 10px 0px;
}

.updates-info .date {
  color: #999999;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  float: right;
}

.updates-info h4 i {
  color: #47b272;
}

.updates-info a {
  font-weight: 700;
}

